<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Telemática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

     <div class="espectron-titulo">
  Espectròn versión 1.0
</div>

    <div class="fondo-oscuro">
        <img src="{{ url_for('static', filename='animacion.gif') }}" class="gif-flotante" alt="GIF Hangar">
        <h1>Sistema de Mantenimiento Computo BAMAV2</h1>
        <p>Seleccione una opción para continuar:</p>

    
   
        <form action="/login" method="get">
            <button type="submit">Iniciar sesión</button>
        </form>

        <form action="/register" method="get">
            <button type="submit">Registro</button>
        </form>

        <form action="/forgot-password" method="get">
            <button type="submit">¿Olvidaste tu contraseña?</button>
        </form>

        <img src="{{ url_for('static', filename='logo_personal.png') }}" class="marca-agua" alt="Marca de agua">

    </div>
</body>
</html>

    


