<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="fondo-login">
    <div class="form-box">
        <h2>🔐 Nueva Contraseña para {{ usuario }}</h2>
        <form method="POST">
            <input type="password" name="password" placeholder="Nueva contraseña" required>
            <button type="submit">Actualizar</button>
        </form>
    </div>
</body>
</html>
